* {
  color: white;
}

.pass {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  color: black;
}

.input-box button {
  padding: 5px 0 5px 0;
  border-radius: 10px;
  color: blue;
  background-color: yellow;
}
